<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="DropboxTestSuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="build-report/report.junit.xml"/>
    </logging>
		<coverage>
			<report>
				<clover outputFile="build-report/clover.xml"/>
				<html outputDirectory="coverage-html" lowUpperBound="50" highLowerBound="90"/>
				<text outputFile="build-report/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
			</report>
		</coverage>
		<php>
			<ini name="xdebug.mode" value="coverage"/>
		</php>
</phpunit>
